

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset Password</title>
</head>
<body>
    <div style="width:50%; margin:auto;">
        <div style="width: 53%; margin: auto;">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert {% if message.tags == 'error' %}error{% endif %}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
          </div><br><br>
    
        <form action="." method="POST">
            {% csrf_token %}
    
            <label for="">Old Password</label>
            <input type="password" name="old_password" id="old_password" required><br>
            <label for="">New Password</label>
            <input type="password" name="new_password" id="new_password" required><br>
            <label for="">Confirm Password</label>
            <input type="password" name="confirm_password" id="confirm_password" required><br><br><br>

            <input type="checkbox" name="password" id="showPasswordCheckBox" onclick="showPasswordReset()"> Show Password <br><br>
    
            <input type="submit" value="Reset">
            <a style="text-decoration: none;" href="{% url "dashboard" %}">Back</a>
        </form>
        
    </div>

    <script>
        function showPasswordReset(){
            alert('reading form showPasswordReset')
            var oldPass = document.getElementById('old_password')
            var newPass = document.getElementById('new_password')
            var conPass = document.getElementById('confirm_password')
            var passCheckbox = document.getElementById('showPasswordCheckBox')
        
            if(passCheckbox.checked){
                oldPass.type = 'text'
                newPass.type = 'text'
                conPass.type = 'text'
            }else{
                oldPass.type = 'password'
                newPass.type = 'password'
                conPass.type = 'password'
            }
        }
    </script> 

    {% comment %} <script src="{% static "js/show_password.js" %}"></script> {% endcomment %}
</body>
</html>