{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block body %}

<div class="bg-top navbar-light">
    <div class="container">
        <div class="row no-gutters d-flex align-items-center align-items-stretch">
            <div class="col-md-2 d-flex align-items-center py-4">
                <a class="navbar-brand" href="index.html"><img class="logo-details" src="./images/plat_logo.png"
                        alt=""></a>
            </div>
            <div class="col-lg-10 d-block">
                <div class="row d-flex">
                    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
                        <div class="icon d-flex justify-content-center align-items-center"><span
                                class="icon-paper-plane"></span></div>
                        <div class="text">
                            <span>Email</span>
                            <span>youremail@email.com</span>
                        </div>
                    </div>

                    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
                        <div class="icon d-flex justify-content-center align-items-center"><span
                                class="icon-phone2"></span>
                            <!-- <span> + 1235 2355 98</span> -->
                        </div>
                        <div class="text">
                            <span>Call</span>
                            <span> + 1235 2355 98</span>
                        </div>

                    </div>

                    <div class="col-md topper d-flex align-items-center justify-content-end">
                        <p class="mb-0">
                            <a href="#"
                                class="btn btn-primary rounded-lg btn-donate py-2 px-3 donate  flex align-items-center justify-content-center">
                                <span><img src="./images/money.png" alt="">Donate</span>
                            </a>
                        </p>



                    </div>
                    <div class="col-md topper d-flex align-items-center justify-content-end">
                        <p class="mb-0">
                            <a href="#" class=" py-2 px-3 donate  flex align-items-center justify-content-center">
                                <span class="Login-donate"><img class="user-icon" src="./images/login.png"
                                        alt="">Login</span>
                            </a>
                        </p>

                        <p class="mb-0">
                            <a href="#" class=" py-2 px-3  d-flex align-items-center justify-content-center">
                                <span class="Login-donate"><img class="user-icon" src="./images/signup.png"
                                        alt="">SignUp</span>
                            </a>

                        </p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<!-- Navbar start  -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container-fluid d-flex align-items-center px-4 bg-dark main-navbar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <form action="#" class="searchform order-lg-last">
            <div class="form-group d-flex">
                <input type="text" class="form-control pl-3" placeholder="Search">
                <button type="submit" placeholder="" class="form-control search"><span
                        class="ion-ios-search"></span></button>
            </div>
        </form>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        News
                    </a>
                    <ul class="dropdown-menu" id="dropdown-details1" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Desk Report</a></li>
                        <li><a class="dropdown-item" href="#">Literature</a></li>
                        <li><a class="dropdown-item" href="#">Co-curricular</a></li>
                        <li><a class="dropdown-item" href="#">Campus</a></li>
                        <li><a class="dropdown-item" href="#">Conference</a></li>
                        <li><a class="dropdown-item" href="#">Mourn</a></li>
                        <li><a class="dropdown-item" href="#">All</a></li>

                    </ul>
                </li>

                <!-- active  -->
                <li class="nav-item "><a href="" class="nav-link pl-0">Doctor's Directory</a></li>
                <li class="nav-item"><a href="" class="nav-link">Magazines</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Resources
                    </a>
                    <ul class="dropdown-menu" id="dropdown-details" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">PDF Book</a></li>
                        <li><a class="dropdown-item" href="#">Videos</a></li>
                        <li><a class="dropdown-item" href="#">Guidelines</a></li>
                        <li><a class="dropdown-item" href="#">Webinars</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="" class="nav-link">Jobs</a></li>
                <li class="nav-item"><a href="" class="nav-link">Higher Study</a></li>

                

                <li class="nav-item"><a href="contact.html" class="nav-link">CME</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Gallery Banner image  -->

<section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Gallery</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Gallery <i
                            class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<!-- /// Gallery //// -->
<div class="photo-gallery mt-2">
    <div class="container">
        <div class='title'>
            <div>
                <img class="camera-details" src="./images/camera.png" alt="">
            </div>
            <div class='gallery-title'>
                <h1>The Image Gallery</h1>
                <p class="text-white">The Beautiful images for Platform</p>
            </div>
        </div>
        <div class="row photos">
            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="./images/image_1.jpg" data-lightbox="photos"><img class="img-fluid"
                        src="./images/image_1.jpg"></a>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="./images/image_2.jpg" data-lightbox="photos"><img class="img-fluid"
                        src="./images/image_2.jpg"></a>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="./images/image_3.jpg" data-lightbox="photos"><img class="img-fluid"
                        src="./images/image_3.jpg"></a>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="./images/image_4.jpg" data-lightbox="photos"><img class="img-fluid"
                        src="./images/image_4.jpg"></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="./images/image_5.jpg" data-lightbox="photos"><img class="img-fluid"
                        src="./images/image_5.jpg"></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="./images/image_6.jpg" data-lightbox="photos"><img class="img-fluid"
                        src="./images/image_6.jpg"></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="./images/image_1.jpg" data-lightbox="photos"><img class="img-fluid"
                        src="./images/image_1.jpg"></a>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="./images/image_2.jpg" data-lightbox="photos"><img class="img-fluid"
                        src="./images/image_2.jpg"></a>
            </div>

        </div>

        <!-- ////// -->
        <div class='title -mt-5'>
            <div>
                <img class="camera-details" src="./images/video.png" alt="">
            </div>
            <div class='gallery-title'>
                <h1>The Video Gallery</h1>
                <p class="text-white">The Beautiful videos for Platform</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="https://www.youtube.com/watch?v=k6mFF3VmVAs" data-toggle="lightbox"
                    data-gallery="youtubevideos" class="">
                    <img src="https://i1.ytimg.com/vi/yP11r5n5RNg/mqdefault.jpg" class="img-fluid">
                </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="https://youtu.be/iQ4D273C7Ac?start=30" data-toggle="lightbox" data-gallery="youtubevideos"
                    class="">
                    <img src="https://i1.ytimg.com/vi/iQ4D273C7Ac/mqdefault.jpg" class="img-fluid">
                </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="https://youtu.be/iQ4D273C7Ac?start=30" data-toggle="lightbox" data-gallery="youtubevideos"
                    class="">
                    <img src="https://i1.ytimg.com/vi/iQ4D273C7Ac/mqdefault.jpg" class="img-fluid">
                </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="//www.youtube.com/embed/dQw4w9WgXcQ" data-toggle="lightbox" data-gallery="youtubevideos"
                    class="">
                    <img src="https://i1.ytimg.com/vi/dQw4w9WgXcQ/mqdefault.jpg" class="img-fluid">
                </a>
            </div>





            <!-- <a href="//www.youtube.com/embed/dQw4w9WgXcQ" data-toggle="lightbox" data-gallery="youtubevideos"
                class="col-sm-4">
                <img src="https://i1.ytimg.com/vi/dQw4w9WgXcQ/mqdefault.jpg" class="img-fluid">
            </a>  -->
        </div>

    </div>
</div>

<!-- Footer -->
<div class="">
 
    <footer class="text-center text-lg-start bg-dark text-white">
       
        <div class="container py-5 pb-0">
            
            <section class="">
          
                <div class="row">
       
                    <ul class="col-md-4 col-lg-3 col-xl-3  mt-3 text-lg-left text-md-left footer-list">
                        <li class="mb-2 footer-list">
                            </i><a href="./quackhunt.html">Quack Hunt</a>
                        </li>
                        <li class="mb-2">
                            <a>Social Responsibility</a>
                        </li>
                        <li>
                            <a>News Letter</a>
                        </li>

                    </ul>

                    <hr class="w-100 clearfix d-md-none" />

                    <ul class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 text-lg-left text-md-left footer-list">
                        <li class="mb-2">
                            <a> Portfolio</a>
                        </li>
                        <li class="mb-2">
                            <a> What we do</a>
                        </li>
                        <li>
                            <a href="./team.html"> Meet Our Team</a>
                        </li>

                    </ul>
                

               
                    <hr class="w-100 clearfix d-md-none" />

        
                    <ul class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 text-lg-left text-md-left footer-list">
                        <li class="mb-2">
                            <a> Blog</a>
                        </li>
                        <li class="mb-2">
                            <a>Annual Reports</a>
                        </li>
                        <li>
                            <a href="./contact.html">Contact Us</a>
                        </li>
                    </ul>
              
                    <hr class="w-100 clearfix d-md-none" />
          
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

                    
                        <a class="btn btn-primary btn-floating m-1 social-icon" style="background-color: #3b5998"
                            href="#!" role="button"><i class="fab fa-facebook"></i>
                        </a>

                        <!-- Twitter -->
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!"
                            role="button"><i class="fab fa-twitter"></i></a>

                        <!-- Google -->
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#!"
                            role="button"><i class="fab fa-google"></i></a>

                        <!-- Instagram -->
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!"
                            role="button"><i class="fab fa-instagram"></i></a>

                        <!-- Linkedin -->
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!"
                            role="button"><i class="fab fa-linkedin-in"></i></a>
                        <!-- Github -->
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="#!"
                            role="button"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                
            </section>
            
        </div>
  

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
          
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | Platform Doctor's
                Foundation
                is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://www.legoio.com/"
                    target="_blank">Legoio</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->

{% endblock body %}