{% extends "../base_dashboard.html" %}
{% load static %}
{% block title %}Reset password{% endblock title %}
{% block body %}

 <main class="mt-5 pt-3 px-5 ">
    <div class="">
            <div class=" py-3 text-center">
                <h4>Change Your Password</h4>
            </div>

            <!-- Messages -->
            <div style="width: 23%; margin: auto;">
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="alert {% if message.tags == 'error' %}error{% endif %}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>


          <div class="card-details">
             <form action="" method="POST">
                {% csrf_token %}

                <div class="mb-3 row px-5">
                    <label for="disabledTextInput" class="col-sm-4 col-md-5 col-lg-3 col-form-label ">Old Password
                    </label>
                    <div class="input-group width-details">
                        <input type="password" name="old_password" id="disabledTextInput" class="form-control"
                            placeholder="Type Old Password " required>
                    </div>
                </div>

                <div class="mb-3 row px-5">
                    <label for="disabledTextInput" class="col-sm-4 col-md-5 col-lg-3 col-form-label ">New Password
                    </label>
                    <div class="input-group width-details">
                        <input type="password" name="new_password" id="disabledTextInput" class="form-control"
                            placeholder="Type New Password " required>
                    </div>
                </div>

                <div class="mb-3 row px-5 mb-5">
                    <label for="disabledTextInput" class="col-sm-4 col-md-5 col-lg-3 col-form-label ">Repeat Password
                    </label>
                    <div class="input-group width-details">
                        <input type="password" name="repeat_password" id="disabledTextInput" class="form-control"
                            placeholder="Repeat New Password " required>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <!-- <a href="" class="btn w-50 text-center btn-block mb-5 save-btn">Save </a> -->
                    <button type="submit" class="btn btn-primary w-50 text-center btn-block mb-5 save-btn">Save </button>
                </div>
              </form>

           </div>
        
    </div>

 </main>

{% endblock body %}